body {
    font-family: Arial;
    padding: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 8px;
}
